/*
nav .nav-wrapper {
    background-color: blue;
}*/



/* MBA */

.label
{
    padding: 0px 5px 0px 5px;
	margin: 0px 2px 2px 0px;
	border-radius: 5px;
    color: #ffffff;
    display: inline-block;
}
.color-youtube
{
	background-color: #b31217;
}
.color-facebook
{
    background-color: #3b5998;
}
.color-twitter
{
    background-color: #0084b4;
}