/*
nav .nav-wrapper {
    background-color: blue;
}*/
body
{
    background-color: #e2e2e2;
}
.boX
{
    max-width: 1360px;
    margin:auto;
}

.boXSmall{
    max-width: 680px;
    margin:auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* MBA */
.card
{
    margin: 2rem 0 1rem 0;
}

.card-action
{
    padding-top: 0px !important;
}

.icon
{
    max-width: 30px;
}

.label
{
    padding: 0px 5px 0px 5px;
	margin: 0px 2px 2px 0px;
	border-radius: 5px;
    color: #ffffff;
    display: inline-block;
}

.color-youtube
{
	background-color: #b31217;
}
.color-facebook
{
    background-color: #3b5998;
}
.color-twitter
{
    background-color: #0084b4;
}

.logo
{
    margin-left: 20px;
}

.section-one
{
    height: 400px;
}

.grey
{
    color: #aab8c2;
    background-color: #ffffff !important;
}

.logoImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer{
    height: 50px;
    background-color: #2c394b;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 45px;
    margin-top: 130px;
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;

    background-color: #929ea8;
}