/*
nav .nav-wrapper {
    background-color: blue;
}*/
body
{
    background-color: #e2e2e2;
}
.boX
{
    max-width: 1360px;
    margin:auto;
}

.boXSmall{
    max-width: 680px;
    margin:auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* MBA */
.card
{
    margin: 2rem 0 1rem 0;
}

.card-action
{
    padding-top: 0px !important;
}

.icon
{
    max-width: 30px;
}

.label
{
    padding: 0px 5px 0px 5px;
	margin: 0px 2px 2px 0px;
	border-radius: 5px;
    color: #ffffff;
    display: inline-block;
}

.color-youtube
{
	background-color: #b31217;
}
.color-facebook
{
    background-color: #3b5998;
}
.color-twitter
{
    background-color: #0084b4;
}

nav
{
    background-color: #90caf9 !important;
}

.logo
{
    margin-left: 20px;
}

.section-one
{
    height: 400px;
}

.grey
{
    color: #aab8c2;
    background-color: #ffffff !important;
}